extends ./../layouts/header.pug


block title 
    title= title 


block cssLink 
    link(rel="stylesheet", href="/css/login.css")

block jsScript 
    script(src="/js/login.js" defer) 


block bodyContent 
    .wrapper 
       .login-wrapper 
            h1 Login Page
            form(action="/login", method="post")  
                label(for="username")
                   b Username 
                input#Username(type="text", class="form-control" placeholder="Enter Your Username or email" name="username" required="")
                p.error.username-error username is require

                label(for="password")
                   b password
                input#password(type="text", class="form-control" placeholder="Enter Your password" name="password" required="") 
                p.error.password-error password is require


                input(type="submit",class="form-control",value="login")

            p Don't have an account?
                a(href="/register") Register here 